extends ../views/layouts/page.pug

block content
  include block_header.pug  
  include block_about.pug
  include block_prices.pug
  include block_games.pug
  include block_additional_service.pug
  include block_studios.pug
  include block_gallery.pug
